*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    

html,body{
    height: 100%;
    justify-content: center;
    align-items: center;
}

body{
    background-color:#040714;
    color: white;
    font-family: Avenir Roman,sans-serif;
}

.enter-login{
    position: fixed;
    margin-left: 92%;
    margin-top: 1%;
    
}

.enter-login button{
    padding: 0.9vh 1vw;
    text-transform: uppercase;
    font-size: 1em;
    background-color:#040714c2;
    border-color: #040714c2;
    color: white;
}

.price-info{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}



.disneyLogo{
    width: 10%;
    z-index: 1;
}

button{

	text-transform: uppercase;
    font-size: 1em;
	font-weight: bold;-
    background-color:white;
    border-color: #040714c2;
    color: #040714c2;
	border-radius: 7px;
padding: 10px;
}
